pkgbase = osp-tracker
	pkgdesc = Tracker video analysis and modeling tool
	pkgver = 4.94
	pkgrel = 1
	url = http://physlets.org/tracker/
	arch = x86_64
	license = GPL3
	depends = gtk2
	depends = gconf
	depends = java-runtime
	source = http://www.compadre.org/osp/images/tracker/Tracker-4.94-linux-64bit-installer.run
	source = tracker.sh
	source = tracker.desktop
	sha256sums = 55af3e01effb04d7149ee9c9191c762aeb9a96e8d2dbcb013af3ee9953753174
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = osp-tracker

